form{
    width: clamp(200px, 50vw, 1000px);
    background: #ff0000;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
input{
    margin: 10px;
    padding: 10px;
    width: 80%;
}



form .submit{
    background: green;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
form .submit:hover{
    background: #024402;
    cursor: pointer;
}

form .back{
    background: green;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}