form{
    width: clamp(200px, 50vw, 1000px);
    background: var(--main);
    border: var(--light) 2px solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
input{
    margin: 10px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}
form select{
    width: 40%;
    text-align: center;
}

form .card{
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background: var(--light);
    padding: 10px 5px;
    border-radius: 10px;
}

form .submit{
    background: #b798ff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}
form .submit:hover{
    background: #9e7ee8;
    cursor: pointer;
    scale: 1.03;
}

form .back{
    background: #b798ff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}