body {
    font-family: "Arial";
    overflow: hidden;
    margin: 0;
    background-color: #50439a;
}

#main_grid {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 10fr 4fr;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    padding: 20px;
}

#balkie {
    grid-column: span 2;
    background-color: #5d48c8;
    display: flex;
    padding: 30px 20px 30px 20px;
    margin-right: 40px;

    a {
        color: black;
        background-color: #b798ff;
        padding: 15px 20px 15px 20px;
        margin: 0 15px 0 5px;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.5s;
    }

    a:hover {
        transition: 0.3s;
        transform: scale(1.15);
    }

    a:active {
        transition: 0.1s;
        transform: scale(0.9);
    }
}

#left_side {
    background-color: #5d48c8;
    margin-bottom: 40px;
}

.nieuwste_title {
    margin: 40px 0 0 35px;
    color: var(--darkest);
}

.lijntje {
    background-color: var(--darkest);
    height: 3px;
    margin: 40px 15px 30px 15px;
}

.db_section {
    margin: 20px 20px 20px 20px;
    padding: 5px 20px 5px 25px;
    background-color: var(--lighter);
    border-radius: 10px;
    border: solid 3px var(--light);
    box-shadow: var(--dark) 4px 3px 5px 1px;
    height: 80%;
    color: var(--darkest);

    a {
        color: var(--darkest);
    }

    :hover {
        h1 {
            text-decoration: underline;
        }
    }
}
.db_section a{
    text-decoration: none;
}

#right_side {
    display: flex;
    flex-direction: column;
    background-color: #5d48c8;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0 40px 40px 0;
}

#right_side .card{
    background: var(--lighter);
    height: fit-content;
    margin: 5px 15px;
    padding: 0 0 0 20px;
    color: var(--dark);
    border-radius: 5px;
    border: solid 3px var(--light);
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }

    :active {
        color: red;
    }
}